<app-navbar></app-navbar>

<div class="about-me-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="row">
            <div class="about-col-1">
               <img src="../assets/gunjan.jfif" alt="image">
            </div>
    
      
      <div class="about-col-2"><h1 style="font-family: 'Lobster',sans-serif; font-size:1.2em;">About Me</h1><p>As a fresher residing in Meerut, I completed my schooling at Krishna Public School and pursued a Bachelor's in Technology (B.Tech) from MIET. During my academic journey, I had the opportunity to undertake an internship at Alumeltech, where I contributed as a frontend developer. At Alumeltech, I delved into the realm of Software as a Service (SaaS), gaining invaluable insights into this dynamic sector. My primary focus was on frontend development, and I dedicated time to mastering Next.js and Tailwind CSS, two technologies that have become integral to modern web development. Alongside, I have cultivated a foundational understanding of various programming languages and technologies including Java, MySQL, Angular, HTML, CSS, and JavaScript.

        One of my notable achievements includes the creation of a portfolio website, where I integrated HTML, CSS, TypeScript, and Angular to showcase my skills and projects. This endeavor not only honed my technical abilities but also provided me with hands-on experience in crafting user-centric web applications. As I embark on my professional journey, I am enthusiastic about leveraging my skills and experiences to contribute meaningfully to innovative projects and continue my growth as a frontend developer.</p>
  
      </div> 
      </div>
      </div>
      </div>
      <app-footer></app-footer>
       


