.footer{
   
    background-color:#315162;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.footer-link{
    display: flex;
    justify-content: center;
   
    margin-bottom: 10px;
}
.footer-link a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    gap: 4px;
}
.footer-link a:hover{
    color: #1c2e38;
    cursor: pointer;
}