<app-navbar></app-navbar>

<div class="home-container">
  <div class="main-content animate__animated animate__fadeInUp">
    <div class="main-content animate__animated animate__fadeInUp">
      <section class="home">
      <div class="row">
        <div  class="text2">
        <h1 class="text">Gunjan Gupta</h1>
        <p>
          I'm Gunjan Gupta, a passionate fresher eager to dive into the dynamic
          world of software development. With a foundation in Java, MySQL,
          Angular, HTML, CSS, and JavaScript, I bring a versatile skill set to
          the table. My proficiency in Java enables me to craft robust,
          object-oriented solutions, while my knowledge of MySQL empowers me to
          manage data effectively. Additionally, I'm adept at leveraging
          Angular, HTML, CSS, and JavaScript to build immersive and responsive
          web applications that captivate users.
        </p>
        <div class="link">
       
        <a target="_blank" href="https://github.com/gunn-71"><img class="li" src="../assets/github.png" alt="Github icon"><div class="hidden">Github</div></a>
        <a  target="_blank" href="https://www.linkedin.com/in/gunjan-gupta11/"><img class="li" src="../assets/linkdln.png" alt=""><div class="hidden">Linkldln</div></a>
         <a target="_blank" href="gunjan02.gg@gmail.com"><img  class="li" src="../assets/email.png" alt=""><div class="hidden">email</div></a>
      
        </div>
       
      </div>
      <div class="text1">
        <img
          src="../assets/gunjan.jfif"
          alt="Profile1 image"
          class="thumb-image"
        />
      </div>

      </div>
      </section>
    </div>
 
  </div>

  <div>
    <div
      id="skills-section"
      class="skills-section animate__animated animate__fadeInUp"
    >
      <p style="font-size: 25px; color: #fff; padding: 30px">My Skills</p>
    </div>
    <div class="card-container">
      <mat-card class="example-card animate__animated animate__fadeInUp">
        <mat-card-header class="row align-items-center">
          <p style="color: #265073">Java</p>
        </mat-card-header>
        <img mat-card-image src="../assets/java.png" alt="image" />
        <mat-card-content>
          <p>
            Java is a versatile, object-oriented programming language known for
            its platform independence, rich standard library, and robust memory
            management. It allows developers to write code once and run it
            anywhere making it a popular choice for a java object-oriented
            language
          </p>
        </mat-card-content>
        <button>Know More...</button>
      </mat-card>

      <mat-card class="example-card animate__animated animate__fadeInUp">
        <mat-card-header class="row align-items-center">
          <p style="color: #265073">Angular</p>
        </mat-card-header>
        <img mat-card-image src="../assets/angular.png" alt="image" />
        <mat-card-content>
          <p>
            Angular is a popular open-source framework for building dynamic web
            applications. It is maintained by Google and provides developers
            with tools and features for creating single-page applications (SPAs)
            and progressive web apps (PWAs) using HTML, CSS, and TypeScript
          </p>
        </mat-card-content>
        <button>Know More...</button>
      </mat-card>

      <mat-card class="example-card animate__animated animate__fadeInUp">
        <mat-card-header class="row align-items-center">
          <p style="color: #265073">MySQL</p>
        </mat-card-header>
        <img mat-card-image src="../assets/mysql.png" alt="image" />
        <mat-card-content>
          <p>
            MySQL uses Structured Query Language (SQL) for querying and managing
            data. It supports various data types, transactions, indexes, and
            foreign key constraints, allowing developers to create efficient and
            robust database schemas. As an open-source database and work as
            backend
          </p>
        </mat-card-content>
        <button>Know More...</button>
      </mat-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
